@font-face {
    font-family: "myFont";
    src: url("Aboreto-Regular.ttf");
}

html,
body {
    margin: 0;
    padding: 0;
    font-family: 'myFont', serif;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: url('./library-image.jpg');
}

.btnContainer {
    display: flex;
    justify-content: center;
}

#addBook {
    font-family: 'myFont';
    border-radius: 5px;
    height: 2em;
    width: auto;
    margin: auto;
    background-color: rgb(225, 225, 225);
}

.shadow {
    background-color: rgb(0 0 0 / 0.6);
    width: 70vw;
    height: 100vh;
    max-width: 1200px;
    margin: 0;
    padding: 30px;
    position: fixed;
}

h1 {
    text-align: center;
    color: rgb(225, 225, 225);
    padding: 40px 40px 10px 40px;
    margin: 0;
    font-weight: 700;
    font-size: 3em;
}

h2 {
    text-align: center;
    color: rgb(225, 225, 225);
    padding-bottom: 2.5em;
    margin: 0;
    font-weight: 700;
    font-size: .8em;
}

.cardContainer {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20em, 1fr));
    gap: 10px;
    align-content: center;
    justify-content: center;
    margin-top: 30px;
}

.card {
    height: 30em;
    width: 20em;
    min-height: 300px;
    min-width: 200px;
    background-color: rgb(0 0 0 / 0.8);
    border-radius: 20px;
    justify-self: center;
    align-self: center;
    box-shadow:rgb(121, 120, 120) 3px 3px 15px;
}

form {
    display: none;
}